<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="assets/css/main.css")
  title Local Weather App
body
  .container
  
  .phoneContainer
    .contentContainer
    
      #time 00:00
                    
      .msg
        #customMsg
        
      .location.category 
        span.town 
        span#country  
      
      .weather.category 
        #icon
        #weather
        #description
      
      .temperature.category 
        #temperature
        a#convert(href="") To Celsius
    
  
  
  script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
  script(src="assets/js/vendor/modernizr-custom.js")
  script(src="assets/js/functions.js")
