.container
  height: 100vh
  width: auto
  //background-image: url('Local-Weather/assets/img/weather.jpeg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  filter: blur(0px)
  z-index: -1
  position: fixed
  right: 0
  left: 0
  //&:before
    content: ''
    display: block
    position: fixed
    right: 0
    left: 0
    background-color: rgba(0,0,0,0.5)
    height: 100vh
    width: auto

.phoneContainer
  width: 515px
  height: 710px
  z-index: 99
  background: url('/Local-Weather/assets/img/portable.png') no-repeat
  position: fixed
  bottom: 0
  left: 15%

  .contentContainer
    width: 405px
    height: 685px
    margin: 50px auto 0

    .category
      text-align: center

    #time
      color: $white
      font-size: 1.375em
      font-weight: bold
      margin: 68px auto 0 auto
      text-align: center

    .msg
      text-align: center
      font-style: italic
      color: $white
      position: relative
      font-size: 1.2em
      height: 30px
      margin-top: 50px

    .error
      @extend msg
      color: #c0392b

    .location
      font-weight: bold
      font-size: 2.1em
      margin-top: 55px
      .town
        text-transform: capitalize
      #country
        text-transform: uppercase

    .weather
      margin-top: 35px
      #icon img
        width: 115px
        height: auto
      #weather
        font-size: 1.6em
        letter-spacing: 1px
      #description
        font-size: 1em
        letter-spacing: 1.1px
        font-style: italic

    #temperature
      font-size: 1.6em
      margin-top: 20px
      letter-spacing: 1.1px

    a#convert
      display: block
      width: 200px
      height: 60px
      padding: 10px 10px
      background-color: $white
      color: $darkBlue
      text-align: center
      font-size: 1.6em
      font-weight: bold
      line-height: 60px
      border-radius: 5px
      text-decoration: none
      margin: 30px auto 0 auto
      &:hover
        background-color: $darkBlue
        color: $white
        border: 1px solid $white

@media (max-width: 768px)
  .phoneContainer
    left: 50%
    transform: translateX(-50%)

@media (max-width: 500px)
  .phoneContainer
    height: 100vh
    background: none
    z-index: 10

    &:before
      content: ''
      display: block
      position: fixed
      right: 0
      left: 0
      background-color: rgba(0,0,0,0.5)
      height: 100vh
      width: auto
      z-index: -20

  .contentContainer
    margin-top: 0px!important
    z-index: 999

    #time
      margin: 10px 0!important
